.selected {
    color:lightskyblue;
}
span {
    color:lightskyblue;
}
input {
    background-color:black;
    color: white;
    border-color: lightskyblue;
}
label {
    color: white;
    display: block;
    width:200px;
    float: left;
}


