<div ng-app="ngAnimate"> <!-- add/remove classes -->


<a (click)="onCreate()" class="btn btn-success">+ | New song</a><br>
<input type="checkbox" ng-model="myCheck"> Stop adding <br><br>
<div *ngIf="warningMessage">
    <div class="alert alert-dismissible alert-warning">
        <h4>Warning!</h4>
        <p>Are you sure you want to delete this song? {{selectedSong.artist}} - {{selectedSong.title}} </p>
        <a (click)="delete(selectedSong)" class="btn btn-small">Yes</a>
        <a (click)="disableDelete()" class="btn btn-small">No</a>
    </div>
</div>

<div *ngIf="editErrorMessage">
    <div class="alert alert-dismissible alert-danger">
        <h4>Error</h4>
        <p>Fill in all the fields</p>
    </div>
</div> 
<div class="span6">
    <div class="blokje" ng-hide="myCheck">
    <div *ngIf="isCreateActive">
            <div id="addForm">
                <a  class="keyframes active">
                    <div *ngIf="errorMessage">
                        <div class="alert alert-dismissible alert-danger">
                            <h4>Error</h4>
                            <p>Fill in all the fields</p>
                        </div>
                    </div> 
                    <form>
                        <h4>Addding a new song</h4>
                        <label for="artist">artist:</label>
                        <input type="text" placeholder="artist" class="form-control" id="artist" maxlength="40" #artist/>
                        <label for="title">title:</label>
                        <input type="text" placeholder="title" class="form-control" id="title" maxlength="40" #title />    
                        <label for="album">album:</label>
                        <input type="text" placeholder="album" class="form-control" id="album" maxlength="40" #album/> 
                        <a id="addSaveButton"  (click)="add(artist.value, title.value, album.value)" ng-model="myCheck" class="btn btn-success">Save</a>
                    </form>
                </a>
            </div>
            
        </div>
        
    </div>
    <div *ngIf="isSaveActive">
        <h4>Edit <span>{{selectedSong.artist}} - {{selectedSong.title}}</span></h4>
        <div class="form-group">
             <label for="artist">artist:</label>
             <input [(ngModel)]="selectedSong.artist" placeholder="artist" class="form-control" id="artist" maxlength="40" #artist/>
        </div>
        <div class="form-group">
             <label for="title">title:</label>
             <input [(ngModel)]="selectedSong.title" placeholder="title" class="form-control" id="title" maxlength="40" #title/>
        </div>
        <div class="form-group">
             <label for="album">album:</label>
             <input [(ngModel)]="selectedSong.album" placeholder="album" class="form-control" id="album" maxlength="40" #album/>
        </div>
        <a (click)="save(artist.value, title.value, album.value)" class="btn btn-success">Save</a>
    </div>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="width:10px;">id</th>
            <th style="min-width:50px;">artist</th>
            <th style="min-width:50px;">title</th>
            <th style="min-width:50px;">album</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of songs" [class.selected]="song === selectedSong">
            <td>{{ song.id }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.title }}</td>
            <td>{{ song.album }}</td>
            <td><a  (click)="onSelect(song)" class="btn btn-small btn-primary" >edit</a></td>
            <td><a  (click)="onDelete(song); $event.stopPropagation()"  class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>