
<a (click)="onCreate()" class="btn btn-success">+ | New song</a>
<div class="span6">
    <div *ngIf="isCreateActive">
        <h4>Addding a new song</h4>
        <div class="form-group">
             <label for="artist">artist:</label>
             <input type="text" placeholder="artist" class="form-control" id="artist" maxlength="40" #artist/>
        </div>
        <div class="form-group">
             <label for="title">title:</label>
             <input type="text" placeholder="title" class="form-control" id="title" maxlength="40" #title />
        </div>
        <div class="form-group">
             <label for="album">album:</label>
             <input type="text" placeholder="album" class="form-control" id="album" maxlength="40" #album/>
        </div>
        <a (click)="add(artist.value, title.value, album.value)" class="btn btn-success">Save</a>
    </div>

    <div *ngIf="isSaveActive">
        <h4>Edit <span>{{selectedSong.artist}} - {{selectedSong.title}}</span></h4>
        <div class="form-group">
             <label for="artist">artist:</label>
             <input [(ngModel)]="selectedSong.artist" placeholder="artist" class="form-control" id="artist" maxlength="40" />
        </div>
        <div class="form-group">
             <label for="title">title:</label>
             <input [(ngModel)]="selectedSong.title" placeholder="title" class="form-control" id="title" maxlength="40" />
        </div>
        <div class="form-group">
             <label for="album">album:</label>
             <input [(ngModel)]="selectedSong.album" placeholder="album" class="form-control" id="album" maxlength="40" />
        </div>
        <a (click)="save()" class="btn btn-success">Save</a>
    </div>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="width:10px;">id</th>
            <th style="min-width:50px;">artist</th>
            <th style="min-width:50px;">title</th>
            <th style="min-width:50px;">album</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of songs" [class.selected]="song === selectedSong">
            <td>{{ song.id }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.title }}</td>
            <td>{{ song.album }}</td>
            <td><a ng-click="editSong(song.id)" class="btn btn-small btn-primary" (click)="onSelect(song)">edit</a></td>
            <td><a ng-click="deleteSong(song.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>